@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400&display=swap');

/* root */
:root {
  /* primary */
  --light-purple: #6146E8;
  --light-green: #56EFAA;

  /* neutral */
  --dark-grey: #262626 ;
  --soft-grey: #c4c4c4 ;
  --white: #ffffff;
}


/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}