header {
  margin: 40px;
}

#main {
  max-width: 900px;
  color: #fff;
  padding: 20px;
  background-color: #222;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#destination label{
  margin-right: 1rem;
}