div:hover {
  border: 5px solid #252525;
}

#primary-color {
  background: #FD7FA9;
}

#secondary-color {
  background: #FF99BB;
}

#complementary-color {
  background: #35B040;
  padding: 60px;
}

#dark-color {
  background: #7D4557;
}

#light-color {
  background: #7EFC8A;
}

.h3-impar {
  font-style: italic;
}

h3 {
  color: #fff;
  padding: 20px;
}